In [1]:
import pandas as pd
import numpy as np
import math
import sys
import random
from pivottablejs import pivot_ui
import sklearn
from sklearn.neighbors import NearestNeighbors

In [2]:
data_users = pd.read_csv('user_cat.csv',index_col=0)
data_users.head()

C:\Users\tusha\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   member_id  category_id  group_id  rating
0          3            2    490552    4.67
1        210            2    490552    4.67
2     357518            2    490552    4.67
3     511008            2    490552    4.67
4     915553            2    490552    4.67

In [3]:
data_users.size

12511788

In [4]:
data_users.shape

(3127947, 4)

In [5]:
tester = data_users.sample(n=1000).copy()
tester.head()

         member_id  category_id  group_id  rating
1685139  179871622           26   1811699    3.67
245475    13286903           34    163773    4.13
831042   185010594           30    368356    4.62
1336282  144858032           34   5763522    4.80
1816640  227147043           28   7009672    4.66

We will be using tester now on

In [6]:
tester.shape

(1000, 4)

In [7]:
tester['values']=1

In [8]:
tester.head()

         member_id  category_id  group_id  rating  values
1685139  179871622           26   1811699    3.67       1
245475    13286903           34    163773    4.13       1
831042   185010594           30    368356    4.62       1
1336282  144858032           34   5763522    4.80       1
1816640  227147043           28   7009672    4.66       1

In [9]:
df_pivot=tester.pivot_table(index=['member_id'], columns=['category_id'],values='values').fillna(0)
df_pivot.head()

category_id,1,2,3,4,5,6,8,9,10,11,...,26,27,28,29,30,31,32,33,34,36
member_id,,,,,,,,,,,,,,,,,,,,,
205871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
361711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
479809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
696461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1075409,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_pivot.shape

(997, 31)

In [11]:
# Pearson Score
# -------------
def pearson_calc(numbers_x, numbers_y):
    if(len(numbers_x)==0):
        mean_x = sum(numbers_x)/0.001
    elif(len(numbers_y)==0):
        mean_y = sum(numbers_y)/0.001
    else:
        mean_x = sum(numbers_x)/len(numbers_x)
        mean_y = sum(numbers_y)/len(numbers_y)
    
    subtracted_mean_x = [i - mean_x for i in numbers_x]
    subtracted_mean_y = [i - mean_y for i in numbers_y]

    x_times_y = [a * b for a, b in list(zip(subtracted_mean_x, subtracted_mean_y))]

    x_squared = [i * i for i in numbers_x]
    y_squared = [i * i for i in numbers_y]
    
    N = sum(x_times_y)
    D = math.sqrt(sum(x_squared) * sum(y_squared))
    if (D !=0):
        return N/D
    else:
        return N/0.001

In [12]:
def match_cal(user1,user2):
    match = 0
    df_u1 = user1.values.tolist()
    df_u2 = user2.values.tolist()
    df_u1 =  [y for x in df_u1 for y in x] 
    df_u2 =  [y for x in df_u2 for y in x] 
    for i in range(0,len(df_u2)):
        if(df_u2[i]==1 and df_u1[i]==1):
            match=match+1
        else:
            match=match+0.001
#     print('match',match)
    pearson_correlation_val = pearson_calc(df_u1,df_u2)
    return match,pearson_correlation_val

In [13]:
def pearson_score(user1,user2):
    '''
    user1 & user2 : user ids of two users between which similarity score is to be calculated.
    '''
    # A list of categories joined by both the users.
    both_match_count, score = match_cal(user1,user2)
    
#     print('both matches :',both_match_count)
    # Returning '0' if no common values.
    if both_match_count == 0 :
        return 0
    return score

In [14]:
score_per_user_match = []
member_vals = []
index_list = []
for index,row in df_pivot.iterrows():
    index_list.append(index)

# print(index_list)

In [15]:
scores = []
members1 = []
members2 = []
result = []
for i in range(0,len(index_list)):
#     print('user 1 --',user1)
    members1.append(index_list[i])
    user1 = df_pivot.iloc[i:i+1]
    for j in range(0,len(index_list)):
        user2 = df_pivot.iloc[j:j+1]
#         print('user 2 --',user2)
        score = pearson_score(user1,user2)
        scores.append(score)
        members2.append(index_list[j])
        list_add = []
        list_add.append(index_list[i])
        list_add.append(index_list[j])
        list_add.append(score)
        result.append(list_add)

In [16]:
checking = pd.DataFrame(result, columns = ['users_A', 'users_B','scores']) 
checking.head()

   users_A  users_B    scores
0   205871   205871  0.967742
1   205871   361711 -0.032258
2   205871   479809  0.967742
3   205871   696461 -0.032258
4   205871  1075409 -0.032258

In [17]:
df_pivot_new=checking.pivot_table(index=['users_A'], columns=['users_B'], values = 'scores').fillna(0)
df_pivot_new.head()

users_B,205871,361711,479809,696461,1075409,1157785,1328135,1777725,2063939,2127276,...,238802156,238819812,239003628,239059981,239313752,239513852,239540835,239930430,240244698,240615881
users_A,,,,,,,,,,,,,,,,,,,,,
205871,0.967742,-0.032258,0.967742,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,0.967742,...,-0.032258,0.967742,-0.032258,-0.032258,0.967742,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258
361711,-0.032258,0.967742,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,...,0.967742,-0.032258,0.967742,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258
479809,0.967742,-0.032258,0.967742,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,0.967742,...,-0.032258,0.967742,-0.032258,-0.032258,0.967742,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258
696461,-0.032258,-0.032258,-0.032258,0.967742,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,...,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258
1075409,-0.032258,-0.032258,-0.032258,-0.032258,0.967742,0.967742,-0.032258,-0.032258,-0.032258,-0.032258,...,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258

In [18]:
def find_k_neighbours(df,k):
    order = np.argsort(df.values, axis=1)[:, :k]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False).iloc[:k].index, index=['top{}'.format(i) for i in range(1, k+1)]), axis=1)
    return df

In [19]:
neigh_5 = find_k_neighbours(df_pivot_new,5)
neigh_5.head()

              top1       top2       top3       top4       top5
users_A
205871   173113422  185017944  152533922  152543402  153454322
361711   184450269  186591421   21593051   21727261  208163926
479809   173113422  185017944  152533922  152543402  153454322
696461   210145815  185049293  226344119   12600769   22402361
1075409   67642342    4248633  220231294    1075409    1157785

In [20]:
from random import sample

In [21]:
user_list = list(neigh_5.index)
user_list = sample(user_list, 5)
print(user_list)

[15413041, 189166959, 237388947, 195401981, 6849809]

In [22]:
members_data_extracted = pd.read_csv('members.csv', encoding = 'Latin-1')
filter_members_user_list = members_data_extracted['member_id'].isin(user_list)
members_data_extracted.where(filter_members_user_list,inplace=True)
members_data_extracted = members_data_extracted.dropna()

In [23]:
members_data_extracted.head()

,member_id,bio,city,country,hometown,joined,lat,link,lon,member_name,state,member_status,visited,group_id
358242,6849809.0,not_found,New York,us,not_found,2008-03-28 23:19:57,40.72,http://www.meetup.com/members/6849809,-73.98,Jeff Rondini,NY,active,2008-08-14 13:14:55,83236.0
1177287,15413041.0,not_found,New York,us,not_found,2014-07-30 14:27:08,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2014-09-16 19:34:36,65784.0
1177288,15413041.0,not_found,New York,us,not_found,2014-07-30 14:23:10,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2016-06-08 23:27:23,1388429.0
1177289,15413041.0,not_found,New York,us,not_found,2011-12-12 17:11:35,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2011-12-12 17:11:35,1455701.0
1177290,15413041.0,not_found,New York,us,not_found,2016-05-31 15:21:08,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2016-06-08 15:09:29,1690232.0

In [24]:
members_data_extracted.shape

(52, 14)

In [25]:
members_data_extracted.to_json(r'selected_members_data.json')

In [26]:
members_data_extracted

,member_id,bio,city,country,hometown,joined,lat,link,lon,member_name,state,member_status,visited,group_id
358242,6849809.0,not_found,New York,us,not_found,2008-03-28 23:19:57,40.72,http://www.meetup.com/members/6849809,-73.98,Jeff Rondini,NY,active,2008-08-14 13:14:55,83236.0
1177287,15413041.0,not_found,New York,us,not_found,2014-07-30 14:27:08,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2014-09-16 19:34:36,65784.0
1177288,15413041.0,not_found,New York,us,not_found,2014-07-30 14:23:10,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2016-06-08 23:27:23,1388429.0
1177289,15413041.0,not_found,New York,us,not_found,2011-12-12 17:11:35,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2011-12-12 17:11:35,1455701.0
1177290,15413041.0,not_found,New York,us,not_found,2016-05-31 15:21:08,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2016-06-08 15:09:29,1690232.0
1177291,15413041.0,R&D at The Nielsen COmpany,New York,us,not_found,2014-07-30 18:56:59,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2014-07-30 18:56:59,1761388.0
1177292,15413041.0,I'm a product lead at the Nielsen Company.,New York,us,not_found,2011-12-12 16:57:51,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2011-12-12 17:06:32,1792777.0
1177293,15413041.0,not_found,New York,us,not_found,2017-01-30 21:17:33,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2017-01-30 21:17:33,13334832.0
1177294,15413041.0,not_found,New York,us,not_found,2017-01-30 21:23:06,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2017-01-30 21:23:06,18198661.0
1177295,15413041.0,not_found,New York,us,not_found,2016-06-02 18:35:56,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2016-06-08 15:09:35,18657546.0
1177296,15413041.0,not_found,New York,us,not_found,2016-05-31 15:08:16,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2016-06-08 15:29:10,18750919.0
1177297,15413041.0,not_found,New York,us,not_found,2016-11-22 20:30:04,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2016-11-22 20:30:04,19229938.0
1177298,15413041.0,not_found,New York,us,not_found,2017-01-09 22:40:07,40.75,http://www.meetup.com/members/15413041,-73.99,Ron Fish,NY,active,2017-01-09 22:40:07,20712507.0
3617606,189166959.0,not_found,New York,us,New York,2015-06-27 04:21:52,40.77,http://www.meetup.com/members/189166959,-73.96,smartypants10,NY,active,2015-06-27 04:21:52,86777.0
3617607,189166959.0,not_found,New York,us,New York,2015-06-27 04:21:10,40.77,http://www.meetup.com/members/189166959,-73.96,smartypants10,NY,active,2015-06-27 04:21:10,145951.0
3617608,189166959.0,not_found,New York,us,New York,2015-06-27 04:20:21,40.77,http://www.meetup.com/members/189166959,-73.96,smartypants10,NY,active,2015-06-27 04:20:21,12957242.0
3980060,195401981.0,not_found,New York,us,not_found,2017-01-16 17:43:15,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2017-06-05 19:34:25,37994.0
3980061,195401981.0,not_found,New York,us,not_found,2015-11-11 03:45:57,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2017-03-15 00:17:17,515549.0
3980062,195401981.0,not_found,New York,us,not_found,2015-11-11 03:45:58,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2017-04-08 13:23:00,1397293.0
3980063,195401981.0,not_found,New York,us,not_found,2015-11-11 03:45:57,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2017-01-16 02:29:52,1622244.0
3980064,195401981.0,not_found,New York,us,not_found,2017-03-05 17:24:12,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2017-05-06 13:14:16,5027412.0
3980065,195401981.0,not_found,New York,us,not_found,2017-01-16 17:49:16,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2017-06-05 19:36:55,9425822.0
3980066,195401981.0,not_found,New York,us,not_found,2015-11-11 03:45:57,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2017-05-13 12:19:54,14315542.0
3980067,195401981.0,not_found,New York,us,not_found,2015-11-11 03:45:57,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2015-11-11 03:45:57,16459922.0
3980068,195401981.0,not_found,New York,us,not_found,2017-01-16 17:51:50,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2017-10-25 19:35:47,18006682.0
3980069,195401981.0,not_found,New York,us,not_found,2015-11-11 03:45:57,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2017-05-13 12:20:24,18459193.0
3980070,195401981.0,not_found,New York,us,not_found,2015-11-11 03:45:57,40.80,http://www.meetup.com/members/195401981,-73.96,Neerja Pai,NY,active,2015-11-11 03:45:57,19085150.0
5795523,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,37994.0
5795524,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,324099.0
5795525,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:12,842661.0
5795526,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,1383148.0
5795527,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:12,4228642.0
5795528,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-10-09 17:29:33,8446282.0
5795529,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,9327022.0
5795530,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,16041752.0
5795531,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-10-10 01:00:34,18207092.0
5795532,237388947.0,not_found,New York,us,not_found,2017-09-25 18:22:31,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-10-31 05:45:37,18527239.0
5795533,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,18564750.0
5795534,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:12,18576312.0
5795535,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,19076521.0
5795536,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,19417644.0
5795537,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,20217084.0
5795538,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,20472600.0
5795539,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-10-21 08:08:50,21082600.0
5795540,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:12,21557275.0
5795541,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-10-21 20:56:24,21661018.0
5795542,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-10-17 02:38:33,23258420.0
5795543,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:12,23754254.0
5795544,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:12,24758803.0
5795545,237388947.0,not_found,New York,us,not_found,2017-09-25 20:18:50,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-10-31 05:46:06,25036048.0
5795546,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:12,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:12,25854331.0
5795547,237388947.0,not_found,New York,us,not_found,2017-09-25 15:28:11,40.75,http://www.meetup.com/members/237388947,-73.99,yong dae kim,NY,active,2017-09-25 15:28:11,26016782.0

In [27]:
selected_user = user_list[1]

In [56]:
user_val = df_pivot_new.loc[selected_user:selected_user]

In [57]:
user_val

users_B,205871,361711,479809,696461,1075409,1157785,1328135,1777725,2063939,2127276,...,238802156,238819812,239003628,239059981,239313752,239513852,239540835,239930430,240244698,240615881
users_A,,,,,,,,,,,,,,,,,,,,,
189166959,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,...,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258,-0.032258

In [30]:
selected_users_check = []
neigh_5 = neigh_5.loc[selected_user]
for i in neigh_5:
    if(i not in selected_users_check and (i is not None)):
        selected_users_check.append(i)
member_list=[]
for i in range(0,len(selected_users_check)):
    if(selected_user == selected_users_check[i]):
        pass
    else:
        member_list.append(selected_users_check[i])

In [31]:
selected_users_check

[83312702, 175323542, 10242322, 190058200, 189166959]

In [32]:
# This is what we need from the neighbours
member_list

[83312702, 175323542, 10242322, 190058200]

In [33]:
tester.head()

         member_id  category_id  group_id  rating  values
1685139  179871622           26   1811699    3.67       1
245475    13286903           34    163773    4.13       1
831042   185010594           30    368356    4.62       1
1336282  144858032           34   5763522    4.80       1
1816640  227147043           28   7009672    4.66       1

In [34]:
copy_tester = tester.copy()

In [35]:
copy_tester.head()

         member_id  category_id  group_id  rating  values
1685139  179871622           26   1811699    3.67       1
245475    13286903           34    163773    4.13       1
831042   185010594           30    368356    4.62       1
1336282  144858032           34   5763522    4.80       1
1816640  227147043           28   7009672    4.66       1

In [36]:
filter_groups_mem_info = copy_tester['member_id'].isin(member_list)
copy_tester.where(filter_groups_mem_info,inplace=True)
copy_tester = copy_tester.dropna()
copy_tester

           member_id  category_id   group_id  rating  values
2966749   10242322.0         16.0  4459932.0    4.77     1.0
885385   190058200.0         16.0   145951.0    4.72     1.0
2184833  175323542.0         16.0  9441202.0    4.93     1.0
260294    83312702.0         16.0  3324842.0    4.75     1.0

In [37]:
group_list_vals = copy_tester['member_id'].to_list()

In [38]:
print(group_list_vals)

[10242322.0, 190058200.0, 175323542.0, 83312702.0]

In [39]:
main_data_users = data_users.copy()

In [40]:
member_data_all = main_data_users
filter_groups_mem = member_data_all['member_id'].isin(group_list_vals)
member_data_all.where(filter_groups_mem,inplace=True)
member_data_all = member_data_all.dropna()
member_data_all.head()

          member_id  category_id   group_id  rating
31508   175323542.0         23.0  1753252.0    4.85
56626   190058200.0         23.0  1338658.0    4.95
97370   190058200.0         23.0  5616472.0    4.84
260294   83312702.0         16.0  3324842.0    4.75
262844  175323542.0         16.0  3324842.0    4.75

In [41]:
# member_data_all = pd.read_csv('members.csv', encoding = 'Latin-1')
# filter_groups_mem = member_data_all['member_id'].isin(group_list_vals)
# member_data_all.where(filter_groups_mem,inplace=True)
# member_data_all = member_data_all.dropna()

# group_merge_all = pd.read_csv('groups.csv', encoding = 'Latin-1')
# final_merge = pd.merge(member_data_all,group_merge_all,on='group_id')
# final_merge.head()

In [42]:
member_data_all.shape

(56, 4)

In [43]:
getting_groups = member_data_all['group_id'].to_list()

In [44]:
getting_groups = set(getting_groups)
getting_groups = list(getting_groups)
len(getting_groups)

54

In [45]:
random_5_groups = sample(getting_groups, 5)

In [46]:
random_5_groups

[1814389.0, 1240279.0, 18814226.0, 1261788.0, 13757272.0]

In [47]:
selected_group = random_5_groups[1]

In [48]:
selected_group

1240279.0

In [49]:
member_data_all.head()

          member_id  category_id   group_id  rating
31508   175323542.0         23.0  1753252.0    4.85
56626   190058200.0         23.0  1338658.0    4.95
97370   190058200.0         23.0  5616472.0    4.84
260294   83312702.0         16.0  3324842.0    4.75
262844  175323542.0         16.0  3324842.0    4.75

In [50]:
test_df = member_data_all.copy()

In [51]:
test_df.head()

          member_id  category_id   group_id  rating
31508   175323542.0         23.0  1753252.0    4.85
56626   190058200.0         23.0  1338658.0    4.95
97370   190058200.0         23.0  5616472.0    4.84
260294   83312702.0         16.0  3324842.0    4.75
262844  175323542.0         16.0  3324842.0    4.75

In [52]:
def weighted_average_over_scores(score,weights):
    L = len(score)
    weighted_sum = 0.000
    values_weighted_sum = 0.000
    weight_list_gen = []
    for i in range(0,L):
        total_weight = score[i] * weights[i]
#         print('total_weight :',total_weight)
        weight_list_gen.append(total_weight)
    for i in range(L):
#         weighted_sum = weighted_sum + weight_list_random_gen[i - 1]
        weighted_sum = weighted_sum + weight_list_gen[i - 1]
    for i in range(L):
        weight_list_gen.append(score[i - 1] * weight_list_gen[i - 1])
    for i in range(len(weight_list_gen)):
        values_weighted_sum = values_weighted_sum + weight_list_gen[i - 1]
#     if(weighted_sum == 0):
    if(int(weighted_sum) ==0):
#         print("Something is wrong!")
        return values_weighted_sum / 0.001
    else:
        return values_weighted_sum / weighted_sum

In [53]:
def gbellmf(x):
#     print("x :",x)
#     Generalized Bell function fuzzy membership generator
#     Parameters
#     ----------
#     x : 1d array
#         Independent variable.
#     a : float
#         Bell function parameter controlling width. See Note for definition.
#     b : float
#         Bell function parameter controlling center. See Note for definition.
#     c : float
#         Bell function parameter controlling slope. See Note for definition.

    return 1.00 / (1.00 + np.abs((x - 0.001) / 0.001) ** (2 * 0.001))

In [54]:
score_list = []

In [55]:
for i in range(0,len(random_5_groups)):
    # Retrieve data at each iteration
    # Filter it based on the group ID and calcultate the score based on that
    
    data = pd.read_csv('user_cat.csv',index_col=0)
    data = data #.sample(n=10000)
    
    filter_group = data['group_id']==random_5_groups[i]
    data.where(filter_group,inplace=True)
    data = data.dropna()
    
    print(data.shape)
    print(data)
    
    # Creating a pivot table (User-Category Matrix)
    data['values']=1
    df_pivot = data.pivot_table(index=['member_id'], columns=['category_id'],values='values').fillna(0)
    
    score_per_user_match = []
    member_vals = []
    index_list = []
    
    for index,row in df_pivot.iterrows():
        index_list.append(index)
    
    scores = []
    members1 = []
    members2 = []
    result = []
    weights = []
    #     weight_size = weight_df['group_id'].size
    #     print("weight_size :",weight_size)
    weight_val = 0.0001
    for k in range(0,len(index_list)):
        # print('user 1 --',user1)
        members1.append(index_list[k])
#         user1 = df_pivot.iloc[k:k+1]
        user1 = user_val
        for j in range(0,len(index_list)):
            user2 = df_pivot.iloc[j:j+1]
            # print('user 2 --',user2)

            score = pearson_score(user1,user2)
#             print("Score : ",score)
            scores.append(score)
            # normalize = 1//weight_size
            normalize = 0
            weights.append(gbellmf(score))    

            members2.append(index_list[j])

            list_add = []
            list_add.append(index_list[k])
            list_add.append(index_list[j])
            # score_list_old.append(score)
            list_add.append(score)
            result.append(list_add)

            members_one = members1
            members_two = members2
            # Finding the weighted average
            # print("scores :",scores)
            # print("weights :",weights)

    update = weighted_average_over_scores(scores,weights)
    score_list.append(update)

(134, 4)
           member_id  category_id   group_id  rating
2744608    1002722.0         34.0  1814389.0     0.0
2744609    1237529.0         34.0  1814389.0     0.0
2744610    1418715.0         34.0  1814389.0     0.0
2744611    1991845.0         34.0  1814389.0     0.0
2744612    2493813.0         34.0  1814389.0     0.0
2744613    2836491.0         34.0  1814389.0     0.0
2744614    2882221.0         34.0  1814389.0     0.0
2744615    4069890.0         34.0  1814389.0     0.0
2744616    4630727.0         34.0  1814389.0     0.0
2744617    5442884.0         34.0  1814389.0     0.0
2744618    5914257.0         34.0  1814389.0     0.0
2744619    6524747.0         34.0  1814389.0     0.0
2744620    6674490.0         34.0  1814389.0     0.0
2744621    7460133.0         34.0  1814389.0     0.0
2744622    7465845.0         34.0  1814389.0     0.0
2744623    7506178.0         34.0  1814389.0     0.0
2744624    8882945.0         34.0  1814389.0     0.0
2744625    9190491.0         34.0  1814389.0     0.0
2744626   10538091.0         34.0  1814389.0     0.0
2744627   10562565.0         34.0  1814389.0     0.0
2744628   11243337.0         34.0  1814389.0     0.0
2744629   11303251.0         34.0  1814389.0     0.0
2744630   11328050.0         34.0  1814389.0     0.0
2744631   11341980.0         34.0  1814389.0     0.0
2744632   11595262.0         34.0  1814389.0     0.0
2744633   12093969.0         34.0  1814389.0     0.0
2744634   12313224.0         34.0  1814389.0     0.0
2744635   12914504.0         34.0  1814389.0     0.0
2744636   13249004.0         34.0  1814389.0     0.0
2744637   13283351.0         34.0  1814389.0     0.0
...              ...          ...        ...     ...
2744712  184690282.0         34.0  1814389.0     0.0
2744713  185635621.0         34.0  1814389.0     0.0
2744714  185874157.0         34.0  1814389.0     0.0
2744715  186025444.0         34.0  1814389.0     0.0
2744716  188684018.0         34.0  1814389.0     0.0
2744717  189243139.0         34.0  1814389.0     0.0
2744718  189761974.0         34.0  1814389.0     0.0
2744719  190011280.0         34.0  1814389.0     0.0
2744720  192076620.0         34.0  1814389.0     0.0
2744721  195632450.0         34.0  1814389.0     0.0
2744722  196389052.0         34.0  1814389.0     0.0
2744723  196812986.0         34.0  1814389.0     0.0
2744724  197766795.0         34.0  1814389.0     0.0
2744725  198112009.0         34.0  1814389.0     0.0
2744726  198213188.0         34.0  1814389.0     0.0
2744727  198818489.0         34.0  1814389.0     0.0
2744728  199859922.0         34.0  1814389.0     0.0
2744729  200704428.0         34.0  1814389.0     0.0
2744730  202178721.0         34.0  1814389.0     0.0
2744731  204907492.0         34.0  1814389.0     0.0
2744732  208943356.0         34.0  1814389.0     0.0
2744733  212247536.0         34.0  1814389.0     0.0
2744734  212604739.0         34.0  1814389.0     0.0
2744735  213822061.0         34.0  1814389.0     0.0
2744736  214296208.0         34.0  1814389.0     0.0
2744737  219182974.0         34.0  1814389.0     0.0
2744738  222660235.0         34.0  1814389.0     0.0
2744739  229322201.0         34.0  1814389.0     0.0
2744740  230731190.0         34.0  1814389.0     0.0
2744741  232942600.0         34.0  1814389.0     0.0

[134 rows x 4 columns]
(6790, 4)
           member_id  category_id   group_id  rating
1008100      63471.0         21.0  1240279.0    4.82
1008101      89034.0         21.0  1240279.0    4.82
1008102     323536.0         21.0  1240279.0    4.82
1008103     337005.0         21.0  1240279.0    4.82
1008104     418322.0         21.0  1240279.0    4.82
1008105     479973.0         21.0  1240279.0    4.82
1008106     517846.0         21.0  1240279.0    4.82
1008107     667102.0         21.0  1240279.0    4.82
1008108     685883.0         21.0  1240279.0    4.82
1008109     701180.0         21.0  1240279.0    4.82
1008110     725616.0         21.0  1240279.0    4.82
1008111     752717.0         21.0  1240279.0    4.82
1008112     756527.0         21.0  1240279.0    4.82
1008113     792356.0         21.0  1240279.0    4.82
1008114     886630.0         21.0  1240279.0    4.82
1008115     889427.0         21.0  1240279.0    4.82
1008116     907209.0         21.0  1240279.0    4.82
1008117     915553.0         21.0  1240279.0    4.82
1008118     957907.0         21.0  1240279.0    4.82
1008119    1068199.0         21.0  1240279.0    4.82
1008120    1108564.0         21.0  1240279.0    4.82
1008121    1121354.0         21.0  1240279.0    4.82
1008122    1211188.0         21.0  1240279.0    4.82
1008123    1237529.0         21.0  1240279.0    4.82
1008124    1269263.0         21.0  1240279.0    4.82
1008125    1282298.0         21.0  1240279.0    4.82
1008126    1418715.0         21.0  1240279.0    4.82
1008127    1438101.0         21.0  1240279.0    4.82
1008128    1493902.0         21.0  1240279.0    4.82
1008129    1514210.0         21.0  1240279.0    4.82
...              ...          ...        ...     ...
1014860  239690844.0         21.0  1240279.0    4.82
1014861  239726866.0         21.0  1240279.0    4.82
1014862  239756087.0         21.0  1240279.0    4.82
1014863  239756476.0         21.0  1240279.0    4.82
1014864  239802952.0         21.0  1240279.0    4.82
1014865  239803064.0         21.0  1240279.0    4.82
1014866  239818715.0         21.0  1240279.0    4.82
1014867  239861182.0         21.0  1240279.0    4.82
1014868  239896518.0         21.0  1240279.0    4.82
1014869  239949495.0         21.0  1240279.0    4.82
1014870  240044398.0         21.0  1240279.0    4.82
1014871  240122612.0         21.0  1240279.0    4.82
1014872  240122902.0         21.0  1240279.0    4.82
1014873  240141125.0         21.0  1240279.0    4.82
1014874  240151210.0         21.0  1240279.0    4.82
1014875  240162167.0         21.0  1240279.0    4.82
1014876  240164529.0         21.0  1240279.0    4.82
1014877  240183434.0         21.0  1240279.0    4.82
1014878  240195370.0         21.0  1240279.0    4.82
1014879  240214778.0         21.0  1240279.0    4.82
1014880  240218457.0         21.0  1240279.0    4.82
1014881  240264718.0         21.0  1240279.0    4.82
1014882  240407451.0         21.0  1240279.0    4.82
1014883  240425084.0         21.0  1240279.0    4.82
1014884  240489716.0         21.0  1240279.0    4.82
1014885  240525953.0         21.0  1240279.0    4.82
1014886  240536131.0         21.0  1240279.0    4.82
1014887  240557319.0         21.0  1240279.0    4.82
1014888  240613399.0         21.0  1240279.0    4.82
1014889  240616850.0         21.0  1240279.0    4.82

[6790 rows x 4 columns]

KeyboardInterrupt:

In [ ]:
score_list

In [ ]:
scores

In [ ]:
weights